<!doctype html>
<html>

  <head>
    <title>{% block title %}{% endblock %}</title>
  </head>

  <body>
    <div id="page">
      <div id="header">
        <h1>COMP62521: {{ args.dataset }}</h1>

        <div id="navigation">
          <a href="/">Home</a>
        </div>
      </div>

      <div id="content">
        {% block content %}{% endblock %}
      </div>
    </div>
  </body>
</html>
